/* You can customize theme styles here */

/* images */

.about__profile-picture img{
    -webkit-mask: url(/img/hero-mask-svg.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    /* max-height: 450px; */
}
.header .navbar-brand span:first-child{
    font-size: 1.3rem !important;
}

.header .navbar{
    justify-content: space-between !important;
}

.header .navbar-toggler:not(.nav-link){
    position: unset !important;
}
